*{
    padding: 0;
    margin: 0;
}
:root{
    --bckgr: hsl(233, 47%, 7%);
    --crdbg: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main-heading: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    top: 95%;  
    left: 50%;
    transform: translate(-50%, -50%);
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }

body{
    background-color: var(--bckgr);
    max-width: 1140px;
    font-family: Inter, sans-serif;
}
.container{
    width: 77.083333%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
  
}
.text{
    /*margin-left: 50px;*/
    width: 375px;
    margin-top: 60px;
    margin-left: 70px;
}
.image{
    width: 50%;
}
.image img{
    border-radius: 0 20px 20px 0;
    height: 100%;
    filter: hue-rotate(+100deg);
    width: 100%;
}
h1{
    color: var(--main-heading);
    letter-spacing: 2px;
    width: 375px;
    
}
h6{
    font-weight: normal;
    letter-spacing: 1.2px;
}
.text p{
    color: var(--main-paragraph);
    line-height: 1.5;
    margin: 35px 0 85px 0;
    
}
.num{
    color:var(--stat-headings);
}
.nmbr{
    float: left;
    
}
.scnd{
    margin: 0 60px 0 60px;
}
.prpl{
    color: var(--accent);
}

.container{
    background-color: var(--crdbg);
}